*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div.box{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.box p{
    font-size: 5rem;
}